.outletAnalyse {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0 10px;
  height: 100%;
  min-width: 1130px;

  .dualRow {
    display: flex;
    flex-direction: row;
    column-gap: 14px;
    row-gap: 14px;
    width: 100%;
    flex-wrap: wrap;
    .dualRowContent {
      flex: 1;
      height: 345px;
      min-width: 45%;
      // height: 345px;
      min-height: 345px;
    }
    .dualRowContentSingle {
      flex: 1;
      height: 100%;
      // height: 345px;

      .CustomerFlowTimeHeatMapChart {
        width: 100%;
        height: 100%;
        min-height: 300px;
      }
    }
  }

  .ui-search-bar {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 #0006;
    box-sizing: border-box;
    font-family: PingFangSC-regular;
    padding: 8px 16px;
    text-align: center;
    .timeContrast {
      display: flex;
      align-items: center;
      font-size: 14px;
    }
    .title {
      margin-right: 14px;
    }
  }

  .topPanel {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
    flex-wrap: nowrap;
    height: 345px;
    .topPanel-left {
      flex-basis: 256px;
    }
    .topPanel-right {
      flex: 1;
    }
  }

  // KPI卡片样式
  .KPICard {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    justify-content: space-around;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
    padding: 8px 16px;
    gap: 16px;

    .KPICard_item {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      padding: 5px 16px;
      border-radius: 10px;
      color: #3867d6;
      line-height: 17px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      &.big {
        height: 100px;
        font: 14px;
      }
      &.small {
        height: 75px;
        font-size: 12px;
      }
      > img {
        position: absolute;
        right: 8px;
        top: 5px;
      }
      > div:nth-child(3) {
        padding-bottom: 5px;
      }
      .KPICard_item_value {
        font-size: 20px;
        line-height: 28px;
      }
      .KPICard_item_radio {
        display: flex;
        align-items: center;
        font-size: 12px;
        gap: 4px;
        img {
          width: 16px;
          height: 16px;
        }
      }
      &.insideTotal {
        background: linear-gradient(109.44deg, rgba(234, 241, 255, 1) 18.93%, rgba(223, 234, 255, 1) 43.01%, rgba(218, 232, 255, 1) 72.74%, rgba(219, 233, 255, 1) 87.23%);
      }
      &.outTotal {
        background: linear-gradient(109.44deg, rgba(238, 234, 255, 1) 18.93%, rgba(226, 223, 255, 1) 43.01%, rgba(230, 218, 255, 1) 72.74%, rgba(219, 223, 255, 1) 87.23%);
      }
      &.customBatch {
        background: linear-gradient(109.44deg, rgba(255, 239, 239, 1) 18.93%, rgba(255, 237, 237, 1) 46.53%, rgba(253, 227, 227, 1) 64.46%, rgba(255, 243, 243, 1) 85.16%);
      }
      &.insideCount {
        background: linear-gradient(109.44deg, rgba(255, 248, 239, 1) 18.93%, rgba(255, 250, 237, 1) 43.77%, rgba(254, 245, 230, 1) 72.74%, rgba(253, 245, 224, 1) 87.23%);
      }
    }
  }

  .visiting-peak-info {
    color: #333;
    text-align: start;
    font-size: 14px;
    line-height: 18px;
  }

  .CustomerAttrChart {
    color: #000;
    display: flex;
    width: 100%;
    height: 100%;
    .CustomerAttrChart-item {
      flex: 1;
      .CustomerAttrChart-item-title {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 8px;
        line-height: 20px;
      }
      .CustomerAttrChart-item-timeRage {
        font-size: 14px;
        span {
          padding: 0 4px;
        }
        padding-bottom: 15px;
      }
    }
  }

  .CustomerMoodChart {
    color: #000;
    display: flex;
    width: 100%;
    height: 100%;
    .CustomerMoodChart-item {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      .CustomerMoodChart-item-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 16px;
        line-height: 20px;
      }
      .CustomerMoodChart-item-content {
        position: relative;
        display: flex;
        flex: 1;
      }
    }
  }

  .table-detail {
    position: relative;
    .table-detail-export-button {
      position: absolute;
      min-width: 130px;
      right: 20px;
      top: 20px;
    }
    // .outlet-comparison-table {
    //   .ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr:not(:first-child) > th:first-child {
    //     border-inline-start: none;
    //   }
    //   .ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr:first-child > th:first-child {
    //     border-bottom: 1px solid #bbbbbb;
    //   }

    //   .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tbody > tr:nth-child(odd) > td:first-child,
    //   .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr:nth-child(odd) > td:first-child {
    //     border-inline-start: none;
    //   }
    // }

    // .ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > th,
    // .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th {
    //   border-bottom: none;
    // }

    // .ant-table-thead > tr > th {
    //   background: #edf3ff;
    //   font-weight: 600;
    // }
    // .ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container {
    //   border-inline-start: 1px solid #bbbbbb;
    // }

    // .ant-table-container .ant-table-thead {
    //   border-bottom: 1px solid #bbbbbb;
    // }
    // .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tbody > tr > td,
    // .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td {
    //   border-inline-end: 1px solid #bbbbbb;
    //   border-bottom: 1px solid #bbbbbb;
    // }
    // .ant-table-header {
    //   border-radius: 0 !important;
    // }
    // .ant-table-header table {
    //   border-collapse: separate;
    // }
    // .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > th,
    // .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th {
    //   border-top: 1px solid #bbbbbb;
    //   border-inline-end: 1px solid #bbbbbb;
    //   border-bottom: 1px solid #bbbbbb;
    // }

    // .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > [colspan],
    // .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > [colspan] {
    //   border-bottom: none;
    // }
    // .ant-table-cell .ant-table-cell-fix-left .ant-table-cell-fix-left-last {
    //   border-inline-start: 1px solid #bbbbbb;
    // }
  }

  .time-radio-group {
    width: 200px;
  }
}
