/* .ant-card{
    line-height: 17px;
    border-radius: 10px;
    background-color: rgba(255,255,255,1);
    color: rgba(255,255,255,1);
    font-size: 12px;
    text-align: center;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.4);
    font-family: PingFangSC-regular;
    margin-bottom: 10px;
    padding: 12px 20px 12px 20px;
    box-sizing:border-box;
    width: 100%;
    height: 100%;
}
.ant-card-head{
    border: none !important;
}
.ant-card-body{
    width: 100%;
    height: calc(100% - 56px);
    box-sizing:border-box !important;
    padding: 0 !important;
} */
/* div {
  color: #101010;
} */
