.ui-panel {
  line-height: 17px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  text-align: center;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  font-family: PingFangSC-regular;
  /* margin-bottom: 10px; */
  padding: 12px 40px 12px 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.ui-panel-header {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui-panel-title-bar {
  height: 24px;
  display: flex;
  align-items: center;
  position: relative;
}

.ui-panel-title-tooltip {
  position: relative;
  top: 1px;
  cursor: pointer;
}

.ui-panel-title-icon {
  width: 5px;
  height: 80%;
  border-radius: 4px;
  background-color: rgba(56, 103, 214, 1);
}

.ui-panel-title {
  height: 24px;
  line-height: 24px;
  color: rgba(16, 16, 16, 1);
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
}

.ui-panel-body {
  width: 100%;
  height: calc(100% - 30px);
  padding-top: 20px;
  box-sizing: border-box;
}

/* .ui-panel-tooltip-content {
  background-color: rgba(53, 71, 125, 0.8);
  padding: 12px;
  color: #fff;
  border-radius: 4px;
} */

.ui-select .ant-select-selector {
  border-radius: 26px;
  text-align: center;
}

.ui-select-popup {
  text-align: center;
}

.ui-select .ant-select-selector:hover {
  border-radius: 26px;
  border: 1px solid #3867d6 !important;
}

.ui-select .ant-select-selector:focus {
  border-radius: 26px;
  border: 1px solid #3867d6 !important;
}

.ui-select.ant-select-focused .ant-select-selector {
  border: 1px solid #3867d6 !important;
}

.ui-select .ant-select-selection-placeholder {
  color: #555555;
}

.flow-select {
  width: 179px;
}

.time-radio-group {
  width: 150px;
}

.time-radio-group .ant-radio-button-wrapper:first-child {
  border-start-start-radius: 36px !important;
  border-end-start-radius: 36px !important;
}

.time-radio-group .ant-radio-button-wrapper:last-child {
  border-start-end-radius: 36px !important;
  border-end-end-radius: 36px !important;
}

.time-radio-group .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background-color: #3867d6 !important;
  border-color: #3867d6 !important;
}

.time-radio-group .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-checked) {
  border-color: #3867d6 !important;
  color: #3867d6 !important;
}

.table-auto-scroll {
  height: 100%;
  width: 100%;
}

.table-auto-scroll .ant-spin-nested-loading,
.table-festival .ant-spin-container {
  height: 100%;
}

.table-auto-scroll .ant-table {
  height: 100%;
}

.table-auto-scroll .ant-spin-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.table-auto-scroll .ant-table-container {
  height: 100%;
  display: grid;
  grid-template-rows: max-content;
}

.table-auto-scroll .ant-table-body {
  height: 100%;
  max-height: 100% !important;
  overflow: auto !important;
}

.ant-table-body {
  overflow: auto !important;
}

.table-fix .ant-table-body {
  overflow: auto scroll !important;
}

.table-auto-scroll .ant-table-content {
  height: 100%;
}

.table-auto-scroll-pagination .ant-table {
  height: calc(100% - 64px);
}

.table-auto-scroll .ant-table-cell-scrollbar {
  box-shadow: none !important;
  border-start-end-radius: 0 !important;
  border: none !important;
  background-color: white !important;
}

.ant-table-cell-scrollbar {
  box-shadow: none !important;
  border-start-end-radius: 0 !important;
  border: none !important;
  background-color: white !important;
}

.ui-content {
  width: 100%;
  height: 46px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
}

.ui-sider {
  background-color: transparent;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  margin-right: 4px;
  padding-right: 10px;
  box-sizing: content-box;
  background-image: url(../../assets/images/menu_bg.webp);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  border-radius: 0px 10px;
}

.ui-sider .ant-layout-sider-zero-width-trigger {
  width: 18px;
  height: 52px;
  top: 480px;
  inset-inline-end: -12px;
  background-color: white;
  border-radius: 0 36px 36px 0;
}
.ui-sider .ui-sider-trigger-icon {
  color: rgba(85, 85, 85, 1);
  font-size: 20px;
}

.ui-menu {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: transparent;
  /* background: unset;
  background-image: url(../../assets/images/menu_bg.png);
  background-size: cover;
  background-position: center; */
}

.ant-layout .ant-menu-root.ant-menu-inline {
  border-inline-end: none;
}

.ui-page-header-title {
  color: rgba(56, 103, 214, 1) !important;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

.ui-page-header-introduce {
  color: rgba(85, 85, 85, 1);
  font-size: 14px;
  text-align: left;
}

.ui-scroll-container {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #eaeaea transparent;
}

.ui-title {
  color: #101010;
  font-size: 14px;
}

.ui-modal-confirm .ui-modal-content {
  column-gap: 15px;
  align-items: center;
  width: 80%;
  justify-content: center;
}
.ui-modal-confirm .ui-modal-title {
  font-size: 14px;
  text-align: end !important;
  color: #333333;
  flex-grow: 1;
}
.ui-modal-confirm .ui-modal-input {
  width: 370px;
  min-width: 370px;
  height: 28px;
  font-size: 14px;
}
.ui-modal-confirm .ui-modal-tree-select {
  width: 370px;
  min-width: 370px;
  min-height: 32px;
  font-size: 14px;
}
.ui-modal-confirm .ui-modal-textarea {
  width: 370px;
  height: 102px;
}
.ui-modal-confirm .ui-modal-textarea > textarea {
  resize: none;
}
.ui-modal-confirm .ui-modal-text {
  width: 370px;
  min-width: 370px;
  height: 28px;
  font-size: 14px;
}

.ICPComponent {
  width: 100%;
  height: 100%;
  color: #999;
  text-align: center;
  font-size: 12px;
  padding-bottom: 6px;
}
.ICPComponent a {
  color: #999;
  text-decoration: none;
}

.UIContentLoadingWrapper .ant-spin-blur {
  opacity: 0.6;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -ms-filter: blur(6px);
  -o-filter: blur(6px);
  filter: blur(6px);
  filter: blur(6px);
}

.ant-spin-nested-loading,
.ant-spin-container {
  height: 100%;
}

.UIContentLoadingWrapper .ant-spin-spinning {
  position: relative;
  min-height: 100%;
}
